@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300')

@font-face
  font-family 'Audimat'
  src url('/fonts/AUdimat-Regular.otf')

@font-face
  font-family 'Audimat'
  font-weight bold
  src url('/fonts/AUdimat-Bold.otf')

global-reset()

//Mixins

a-color(color)
  a
    text-decoration none
    color color
    :hover
      color color
    :visited
      color color
    :highlighted
      color color

margin-not(margin, except)
  margin margin
  margin-{except} 0

//Animation
fast = 100ms

//Colors
main-color = #3178ff
bg-color = #f0f9fa
text-color = #1b1b1b

//Layout variables
line-height = 1.8em

//Include variables
snippet-margin = 0.3em
post-background = white

//Global config

a
  text-decoration none

body
  font-family 'Open Sans'
  background-color bg-color
  color text-color

p
  line-height line-height

//Global Layout

header
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)
  h1
    font-family 'Audimat'
    padding 50px 10px
    font-size 40px
    text-align center

  a-color(white)

  .topbar
    width 100%
    ul
      li
        text-align center
        display inline-block
      .active
        font-size 30px

div.container
  width 100%
  overflow hidden
  background-color bg-color

footer
  width 900px
  border-top 1px dotted #ccc

//------

//Page-Specific Layout

//Index Layout
div.column
  width 50%
  min-width 400px
  display inline
  float left
  overflow hidden

//Includes

div.tags
  margin-not(snippet-margin, 'left')
  .tag
    padding snippet-margin
    margin-right 1px
    display inline
    background-color main-color
    color white  

    transition background-color fast, color fast
    &:hover
      background-color rgba(white, 0)
      color main-color
  .highlight-tag
    background-color rgba(white, 0)
    color main-color

    transition background-color fast, color fast
    &:hover
      background-color main-color
      color white


div.post
  h1
    border-bottom 1px solid main-color
  margin snippet-margin
  padding snippet-margin
  background-color post-background

  a-color(main-color)
  .post-title
    text-align center

div.post-port-snippet, .front-post-port-snippet
  float left
  position relative
  width 400px
  color white

  div.imgContainer
    z-index -1
    img
      width 100%

  div.postPortSnippetInfoContainer
    background linear-gradient(top, rgba(black, 0), rgba(black, 1))

    position absolute
    height line-height*line-height
    width 100%
    bottom 0
    h1
      margin-left snippet-margin
      color inherit
      display inline
    .date
      display inline
    div.postPortSnippetText
      margin-left snippet-margin
.front-post-port-snippet
  width 100% !important

.page-number
  a-color(main-color)
  display inline