div.postPortSnippet
  div.imgContainer
    img(src=post.img)
  div.postPortSnippetInfoContainer
    h1
      a.post-title(href=post.url)
        = post.title
    p.date  - #{post.date.getMonth()+1}.#{post.date.getFullYear()}
    div.postPortSnippetText
      != post.snippet