extends layout

block content
	- var posts = getPosts(0, 11)
	- var page  = 1
	div.column
		- each post in posts
			case post.category
				when 'Observations'
					include includes/ObservationsSnippet
	div.column
		- each post in posts
			case post.category
				when 'Portfolio'
					include includes/FrontPortfolioSnippet