!!!5
html
  head
    title #{title} - Evan Dorsky
    link(rel='stylesheet', href='/css/style.css')
  body
    a(href='/')
      header
        h1 Evan Dorsky
    .container
      .main-content
        block content
      .sidebar
        ul
          - each cat in getCategories()
            li
              a(href=categoryURL(cat)) #{cat}
    footer
      .contact