!!!5
html
  head
    title #{title} - Evan Dorsky
    link(rel='stylesheet', href='/css/style.css')
  body
    a(href='/')
      header
        h1 Evan Dorsky
        .topbar
          ul
            - each cat in getCategories()
              li(class=(cat == category)? 'active' : '')
                a(href=categoryURL(cat)) #{cat}
    .container
      block content
    footer
      .contact

  script(src='/js/zepto.min.js')
  script(src='/js/layout.js')