extends layout

block content
	h1.categoryTitle
		a(href=categoryURL(category))  #{category}
	- each post in posts
		include includes/ObservationsSnippet
	p
		This is not the same! It's a #{category}
	include includes/Pagination