extends layout

block content
	div.post
		h1.header
			a.post-title(href=post.url)
				= post.title
		span.date #{post.date.blogFormat()}
		div.post-content
			!= post.content
		- var listTags = post.tags
		include includes/TagList
		.share(data-url='http://localhost'+post.url, data-text=post.description, data-title='share this page')
		#disqus_thread
		script.
			var disqus_identifier = '!{post.slug}';
		script(src='/js/disqus.js')
		noscript Please enable JavaScript to view comments