/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300')

@font-face {
  font-family: 'Audimat';
  src: url('/fonts/AUdimat-Regular.otf');
}
@font-face {
  font-family: 'Audimat';
  font-weight: bold;
  src:url('/fonts/AUdimat-Regular.otf');
}

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #3178ff
background-color = #faf9f0
text-color = #1b1b1b
line-height = 1.8em

a-color(color)
  a
    color color
    :hover
      color color
    :visited
      color color
    :highlighted
      color color

a
  text-decoration none

h1.categoryTitle
  a-color(main-color)

body
  font-family 'Open Sans'
  background-color background-color
  color text-color

img
  width 100%

snippet-margin = 0.3em

div.post-port-snippet
  display static
  float left
  position relative
  height 300px
  width 400px

  div.imgContainer
    height 100%
    width auto
    position absolute
    z-index -1
    img
      z-index -2
      height 100%
      width auto

  color white
  h1
    margin-left snippet-margin
    color white
    display inline
  a
    color white
  .date
    display inline

  div.postPortSnippetInfoContainer
    background linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
    position absolute
    height line-height*1.8
    width 100%
    bottom 0px

  div.postPortSnippetText
    margin-left snippet-margin

div.post-port-snippet:hover
  div.postPortSnippetInfoContainer
    background linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))
    color text-color
  h1
    color text-color


header
  h1
    font-family 'Audimat'
    padding 50px 10px
    font-size 40px
    text-align center

  a-color(white)

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

.container
  width 100%
  overflow hidden

.post-title
  color text-color

.main-content
  width 100%

.topbar
  width 100%

  text-align center

  a-color(white)

  ul
    li
      display inline-block

div.post
  a-color(main-color)

.page-number
  a-color(main-color)
  display inline

div.tags
  .label
    color main-color
    padding-left 5px
    padding-right 50px

p
  line-height line-height

footer
  width 900px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px