/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
@font-face {
  font-family: 'Audimat';
  src: url("/fonts/AUdimat-Regular.otf");
}
@font-face {
  font-family: 'Audimat';
  font-weight: bold;
  src: url("/fonts/AUdimat-Regular.otf");
}
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
a {
  text-decoration: none;
}
h1.categoryTitle a {
  color: #3178ff;
}
h1.categoryTitle a :hover {
  color: #3178ff;
}
h1.categoryTitle a :visited {
  color: #3178ff;
}
h1.categoryTitle a :highlighted {
  color: #3178ff;
}
body {
  font-family: 'Open Sans';
  background-color: #faf9f0;
  color: #1b1b1b;
}
img {
  width: 100%;
}
div.post a {
  color: #3178ff;
}
div.post a :hover {
  color: #3178ff;
}
div.post a :visited {
  color: #3178ff;
}
div.post a :highlighted {
  color: #3178ff;
}
div.post-port-snippet,
.front-post-port-snippet {
  float: left;
  position: relative;
  width: 400px;
  color: #fff;
}
div.post-port-snippet div.imgContainer,
.front-post-port-snippet div.imgContainer {
  z-index: -1;
}
div.post-port-snippet div.imgContainer img,
.front-post-port-snippet div.imgContainer img {
  z-index: -2;
}
div.post-port-snippet h1,
.front-post-port-snippet h1 {
  margin-left: 0.3em;
  color: #fff;
  display: inline;
}
div.post-port-snippet a,
.front-post-port-snippet a {
  color: #fff;
}
div.post-port-snippet .date,
.front-post-port-snippet .date {
  display: inline;
}
div.post-port-snippet div.postPortSnippetInfoContainer,
.front-post-port-snippet div.postPortSnippetInfoContainer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0)), color-stop(1, #000));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0, #000 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0, #000 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0, #000 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0, #000 100%);
  background: linear-gradient(top, rgba(0,0,0,0) 0, #000 100%);
  position: absolute;
  height: 3.24em;
  width: 100%;
  bottom: 0px;
}
div.post-port-snippet div.postPortSnippetText,
.front-post-port-snippet div.postPortSnippetText {
  margin-left: 0.3em;
}
div.post-port-snippet:hover div.postPortSnippetInfoContainer,
.front-post-port-snippet:hover div.postPortSnippetInfoContainer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0)), color-stop(1, #fff));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0, #fff 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0, #fff 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0, #fff 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0, #fff 100%);
  color: #1b1b1b;
}
div.post-port-snippet:hover h1,
.front-post-port-snippet:hover h1 {
  color: #1b1b1b;
}
div.column {
  width: 50%;
  min-width: 400px;
  display: inline;
  float: left;
  overflow: hidden;
}
.front-post-port-snippet {
  width: 100% !important;
}
header {
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #3178ff;
  border-bottom: 1px solid #0049d5;
  text-shadow: 0px -1px 0px #0049d5;
}
header h1 {
  font-family: 'Audimat';
  padding: 50px 10px;
  font-size: 40px;
  text-align: center;
}
header a {
  color: #fff;
}
header a :hover {
  color: #fff;
}
header a :visited {
  color: #fff;
}
header a :highlighted {
  color: #fff;
}
.container {
  width: 100%;
  overflow: hidden;
}
.post-title {
  color: #1b1b1b;
}
.main-content {
  width: 100%;
}
.topbar {
  width: 100%;
  text-align: center;
}
.topbar a {
  color: #fff;
}
.topbar a :hover {
  color: #fff;
}
.topbar a :visited {
  color: #fff;
}
.topbar a :highlighted {
  color: #fff;
}
.topbar ul li {
  display: inline-block;
}
.page-number {
  display: inline;
}
.page-number a {
  color: #3178ff;
}
.page-number a :hover {
  color: #3178ff;
}
.page-number a :visited {
  color: #3178ff;
}
.page-number a :highlighted {
  color: #3178ff;
}
div.tags .label {
  color: #3178ff;
  padding-left: 5px;
  padding-right: 50px;
}
p {
  line-height: 1.8em;
}
footer {
  width: 900px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
