@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300')

@font-face
  font-family 'Audimat'
  src url('/fonts/AUdimat-Regular.otf')

@font-face
  font-family 'Audimat'
  font-weight bold
  src url('/fonts/AUdimat-Bold.otf')

global-reset()

//Mixins

a-color(color)
  a
    text-decoration none
    color color
    :hover
      color color
    :visited
      color color
    :highlighted
      color color

//Colors
main-color = #3178ff
background-color = #faf9f0
text-color = #1b1b1b

//Layout variables
line-height = 1.8em
snippet-margin = 0.3em

//Global config

body
  font-family 'Open Sans'
  background-color background-color
  color text-color

p
  line-height line-height

//Global Layout

header
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)
  h1
    font-family 'Audimat'
    padding 50px 10px
    font-size 40px
    text-align center

  a-color(white)

  .topbar
    width 100%
    ul
      li
        text-align center
        display inline-block

div.container
  width 100%
  overflow hidden

footer
  width 900px
  border-top 1px dotted #ccc

//----

//Page-Specific Layout

//Index Layout
div.column
  width 50%
  min-width 400px
  display inline
  float left
  overflow hidden

//Category Layout
h1.categoryTitle
  a-color(main-color)

//Includes

div.post
  a-color(main-color)
  .post-title
    text-align center
  div.tags
    .label
      color main-color
      padding-left 5px
      padding-right 50px

div.post-port-snippet, .front-post-port-snippet
  float left
  position relative
  width 400px
  color white

  div.imgContainer
    z-index -1
    img
      width 100%

  div.postPortSnippetInfoContainer
    background linear-gradient(top, rgba(black, 0), rgba(black, 1))
    position absolute
    height line-height*1.8
    width 100%
    bottom 0px
    h1
      margin-left snippet-margin
      color inherit
      display inline
    .date
      display inline
    div.postPortSnippetText
      margin-left snippet-margin

  &:hover
    color text-color
    div.postPortSnippetInfoContainer
      background linear-gradient(top, rgba(white, 0), rgba(white, 1))
.front-post-port-snippet
  width 100% !important

div.page-number
  a-color(main-color)
  display inline