@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
@font-face {
  font-family: 'Audimat';
  src: url("/fonts/AUdimat-Regular.otf");
}
@font-face {
  font-family: 'Audimat';
  font-weight: bold;
  src: url("/fonts/AUdimat-Bold.otf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Open Sans';
  background-color: #f0f9fa;
  color: #1b1b1b;
}
p {
  line-height: 1.8em;
}
header {
  background-color: #3178ff;
  border-bottom: 1px solid #0049d5;
  text-shadow: 0px -1px 0px #0049d5;
}
header h1 {
  font-family: 'Audimat';
  padding: 50px 10px;
  font-size: 40px;
  text-align: center;
}
header a {
  text-decoration: none;
  color: #fff;
}
header a :hover {
  color: #fff;
}
header a :visited {
  color: #fff;
}
header a :highlighted {
  color: #fff;
}
header .topbar {
  width: 100%;
}
header .topbar ul li {
  text-align: center;
  display: inline-block;
}
header .topbar ul .active {
  font-size: 30px;
}
div.container {
  width: 100%;
  overflow: hidden;
  background-color: #f0f9fa;
}
footer {
  width: 900px;
  border-top: 1px dotted #ccc;
}
div.column {
  width: 50%;
  min-width: 400px;
  display: inline;
  float: left;
  overflow: hidden;
}
div.tags {
  margin: 0.3em;
  margin-left: 0;
}
div.tags .tag {
  padding: 0.3em;
  margin-right: 1px;
  display: inline;
  background-color: #3178ff;
  color: #fff;
  -webkit-transition: background-color 100ms, color 100ms;
  -moz-transition: background-color 100ms, color 100ms;
  -o-transition: background-color 100ms, color 100ms;
  -ms-transition: background-color 100ms, color 100ms;
  transition: background-color 100ms, color 100ms;
}
div.tags .tag:hover {
  background-color: rgba(255,255,255,0);
  color: #3178ff;
}
div.tags .highlight-tag {
  background-color: rgba(255,255,255,0);
  color: #3178ff;
  -webkit-transition: background-color 100ms, color 100ms;
  -moz-transition: background-color 100ms, color 100ms;
  -o-transition: background-color 100ms, color 100ms;
  -ms-transition: background-color 100ms, color 100ms;
  transition: background-color 100ms, color 100ms;
}
div.tags .highlight-tag:hover {
  background-color: #3178ff;
  color: #fff;
}
div.post {
  margin: 0.3em;
  padding: 0.3em;
  background-color: #fff;
}
div.post a {
  text-decoration: none;
  color: #3178ff;
}
div.post a :hover {
  color: #3178ff;
}
div.post a :visited {
  color: #3178ff;
}
div.post a :highlighted {
  color: #3178ff;
}
div.post .post-title {
  text-align: center;
}
div.post-port-snippet,
.front-post-port-snippet {
  float: left;
  position: relative;
  width: 400px;
  color: #fff;
}
div.post-port-snippet div.imgContainer,
.front-post-port-snippet div.imgContainer {
  z-index: -1;
}
div.post-port-snippet div.imgContainer img,
.front-post-port-snippet div.imgContainer img {
  width: 100%;
}
div.post-port-snippet div.postPortSnippetInfoContainer,
.front-post-port-snippet div.postPortSnippetInfoContainer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0)), color-stop(1, #000));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0, #000 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0, #000 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0, #000 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0, #000 100%);
  background: linear-gradient(top, rgba(0,0,0,0) 0, #000 100%);
  position: absolute;
  height: 3.24em;
  width: 100%;
  bottom: 0;
}
div.post-port-snippet div.postPortSnippetInfoContainer h1,
.front-post-port-snippet div.postPortSnippetInfoContainer h1 {
  margin-left: 0.3em;
  color: inherit;
  display: inline;
}
div.post-port-snippet div.postPortSnippetInfoContainer .date,
.front-post-port-snippet div.postPortSnippetInfoContainer .date {
  display: inline;
}
div.post-port-snippet div.postPortSnippetInfoContainer div.postPortSnippetText,
.front-post-port-snippet div.postPortSnippetInfoContainer div.postPortSnippetText {
  margin-left: 0.3em;
}
.front-post-port-snippet {
  width: 100% !important;
}
.page-number {
  display: inline;
}
.page-number a {
  text-decoration: none;
  color: #3178ff;
}
.page-number a :hover {
  color: #3178ff;
}
.page-number a :visited {
  color: #3178ff;
}
.page-number a :highlighted {
  color: #3178ff;
}
